.page-wrapper .page-content .layout-specing{
    min-height: calc(100vh) !important;
}

.menu-user .dropdown-item{
    font-size: 14px;
}

.layout-specing.overflow{
    filter: blur(3px);
    position: relative;
}

.page-content.overflow:after{
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background: #00000085;
    top: 0;
    bottom: 0;
}

.search-bar .searchform input[type="text"]{
    min-width: 300px
}

.page-wrapper .page-content .top-header .header-bar .search-bar .searchform input[type="submit"]{
    position: static;
}

.page-wrapper .page-content .top-header .header-bar .search-bar .menu-search select{
    height: 36px;
    border-radius: 0;
    /* border-right: 0; */
    position: relative;
    right: -3px;
    line-height: 23px;    
}


.filter-search .heading {
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
}

.filter-search .heading h4{
    padding: 10px;
    margin: 0;
    background-color: #000000;
    border-radius: 6px;
    position: relative;
    padding-right: 40px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 11%, 87% 100%, 100% 98%, 36% 113%, 0 100%, 0% 11%);
    clip-path: polygon(0% 2%, 100% 0, 101% 100%, 60% 81%, 100% 99%, 11% 99%, 0 12%, -5% 4%);
    color: #FFF;
    padding-left: 40px;}

.filter-search .content{
    background-color: #ffffff;
    border: 1px solid #cfcfcf !important;
    border-top: 0 !important;
    border-radius: 0 0 6px 6px;
}

.btn {
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-outline-dark {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}

.btn-dark {
    background-color: #000 !important;
    border: 1px solid #000 !important;
}

.heading-with-shape {
    position: relative;
    overflow: hidden;
}

.heading-with-shape:after{
    content: '';
    position: absolute;
    right: -25px;
    top: -25px;
    border-style: solid;
    border-width: 25px;
    border-color: #ff000000 #00800000 black #00000000;
    transform: rotate(45deg);
}

.img-small{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.btns-optons-table button {
    margin-left: -8px;
    border-left: 1px solid #454545 !important;
}

.font-sm{font-size: 14px;}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.tab-obahy li{display: inline-block ;    margin-left: -5px;}

.tab-obahy li a{
    padding: 10px 25px !important;
    display: block;
    border-left: 1px solid #e9ecef ;
    color: #000;
}

.tab-obahy li a:hover,
.tab-obahy li.active a{
    background-color: #000;
    color: #FFF;
}

.tab-obahy li:last-child a{
    border: 0 ;
}

.form-check-fill{padding-left: 0;}

.form-check-fill .form-check{
    padding-left: 5px;
}

.form-check-fill .form-check-input:checked, 
.form-check-fill .form-check-input.form-check-input:checked {
    background-color: #BFAE7A;
    border-color: #BFAE7A;
    background: #BFAE7A;    
}

.icon-dots{
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-dots span {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #000;
    border-radius: 50%;
}

textarea.form-control {
    min-height: 100px;
}

.nav-pills {
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #707070;
}

.nav-pills .nav-item:last-child .nav-link{border-left: 0 !important;}

.nav-pills .nav-link{
    border-left: 1px solid #707070;
    border-radius: 0 !important;
    padding: 0 !important;  
}

.nav-pills .nav-link.active {
    background: #000000;
}

.form-text {position: relative;}

.form-text .text{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;    
}

/* Sidebar */

.box-backage{position: relative;}

.box-backage label{
    display: block;
    width: 100%;
    border: 1px solid #EEE;
    padding: 20px;
    padding-right: 45px;
    padding-left: 45px;
    /* position: relative; */
    border-radius: 8px;
}

.box-backage label:after,
.box-backage label:before{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.box-backage label:after{
    width: 22px;
    height: 22px;
    border: 2px solid #878787cc;
    right: 12px;
    top: 22px;
}

.box-backage label:before{
    width: 10px;
    height: 10px;
    background: #000;
    right: 18px;
    top: 28.3px;
    opacity: 0;
}

.box-backage input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
    opacity: 0;
    bottom: 0;
    height: 100%;
}

.box-backage input:checked ~ label {
    border: 1px solid #000 ;
    background-color: #f1f5f894;
}

.box-backage input:checked ~ label::after{
    border-color: #000;
}

.box-backage input:checked ~ label::before{
    opacity: 1;
}

.page-wrapper.toggled .sidebar-wrapper{
    background-color: #000000;
}
 
.page-wrapper .sidebar-wrapper .sidebar-brand{
    padding: 10px 30px;
    border-bottom: 1px solid #707070;
    height: 80px
}

.page-wrapper .sidebar-wrapper.sidebar-dark li.icon-help a.btn.btn-icon {
    border: 1px solid #fff !important;
    display: inline-block;
    border-radius: 0 !important;
    width: auto;
    line-height: 34px !important;
    color: #FFF !important;
    padding: 1px 20px;
    height: auto;
}

.data-user-sidebar .img{
    padding: 7px;
    border: 1px solid #707070;
    display: inline-block;
    border-radius: 50%;
}

.data-user-sidebar .avatar{
    width: 60px;
    height: 60px;
}

.data-user-sidebar .circle {
    width: 10px;
    height: 10px;
    background: #BFAE7A;
    display: inline-block;
    border-radius: 50%;
    margin-left: 2px;
    position: relative;
    top: 1px;
}

.page-wrapper .sidebar-wrapper.sidebar-colored .sidebar-menu .sidebar-dropdown > a:after, .page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-menu .sidebar-dropdown > a:after,
.page-wrapper .sidebar-wrapper.sidebar-colored .sidebar-header .user-info .user-role, .page-wrapper .sidebar-wrapper.sidebar-colored .sidebar-header .user-info .user-status, .page-wrapper .sidebar-wrapper.sidebar-colored .sidebar-brand > a, .page-wrapper .sidebar-wrapper.sidebar-colored .sidebar-menu li a, .page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-header .user-info .user-role, .page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-header .user-info .user-status, .page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-brand > a, .page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-menu li a {
    color: rgb(255 255 255);
}

.page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-menu li a{
    padding: 8px 20px !important;
}

.page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-menu li a:hover , .page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-menu .active{
    background-color: #BFAE7A;;
}

.package-list .list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.package-list .list ul li {
    position: relative;
    color: #8A8A8A;
    margin-bottom: 10px;
    font-size: 14px;
    padding-right: 30px;
}

.package-list .list ul li::after{
    content: '';
    background: url(../images/icon/icon-check-1.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
}

.img-border-right,
.card-notification .features {
    border-right: 3px solid #D51C53;
    padding-right: 20px;
}

.main-color{
    color: #BFAE7A;
}

.page-wrapper .sidebar-wrapper.sidebar-dark .sidebar-menu li a{
    transition: all .2s;
}

.statistic.features.feature-primary .icon {
    color: #FFF !important;
    background-color: #ffffff26 !important;
}

.bg-light{
    background-color: #F1F3F6 !important;
}

.statistic-users{
    background-color: #E89D2D;
}

.statistic-products{
    background-color: #848484;
}

.statistic-visits{
    background-color: #54B4D9;
}

.statistic-sales {
    background-color: #676CFB;
}

.btn-white{
    border: 1px solid #FFF;
    color: #FFF !important;
    display: block;
}

.bg-success-status{background-color: #07a04a3b;color: #07A04A;}

.bg-danger-status{
    background-color: #e43f5278;
    color: #e43f52 ;
}

.sm-img{width: 60px;height: 60px;}

.uil-edit {
    color: #F89747;
}

.uil-trash-alt{
    color: #F26689
}

.uil-edit,
.uil-trash-alt {
    font-size: 19px;
    margin: 0 2px;
}


.form-switch .form-check-input:focus,
.form-check-input:focus {
    border-color: #000000;
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked,
.form-check-input.form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.latest-operations .heading{position: relative;}

.latest-operations .heading:after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #707070;
    top: 50%;
}

.latest-operations .heading span,
.latest-operations .heading a{
    display: inline-block;
    background-color: #FFF;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}

.btn-gray-clr{
    background: #f3f3f3 !important;
    color: #A0A0A0 !important;    
}

.box-setting{
    margin-bottom: 20px;
    min-height: 135px;
}

.uploade-img{
    position: relative;
    min-height: 150px;
}

.uploade-img input{
    position: absolute;
    opacity: 0;
    height: 100%;
}

.uploade-img img{
    height: 100%;
    background: #f1f5f8ba;
    border: 2px solid #000000;
    border-radius: 4px;
    /* opacity: 0; */
    padding: 45px;    
}

.file-uploade{position: relative;}

.file-uploade label {
    color: #949494;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 10px;
    right: 25px;
    left: 25px;    
}

.bg-orange-light {
    background-color: #FEEFB3 !important; 
    border: 1px solid #FEEFB5 !important; ;
}

.bg-dark{
    background-color: #000 !important;
}

.text-main-color{color: #AF8D23;}

.box-statistic{    min-height: 140px;}

.heading-links{
    background-color: #FCFCFC;
    border: 1px solid #70707042;
}

.heading-links a {
    display: inline-block;
    background-color: #F5F5F5;
    color: #848484;
    padding: 20px;
    margin-left: -5px;
}

.heading-links a.active{
    background-color: #000;
    color: #FFF;
}

.squre,
.circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: gray;
    display: inline-block;
}

.squre{border-radius: 0;}

.bg-red {background-color: #F55157;}

.text-red{color: #F55157;}

.bg-blue {background-color: #2F9BE4}

.text-blue{color: #2F9BE4;}

.bg-green {background-color: #58C9B9}

.bg-yellow{background-color: #F7CA68;}

.bg-gray{background-color: #DDDDDD;}
.bg-gray2{background-color: #FCFCFC;}

.text-gray{color: #BABEBC;}


.select2-container--default .select2-selection{
    border: 1px solid #dee2e6 !important;
}

.select2-container--default .select2-selection .select2-selection__choice{
    background: #000 !important;
    color: #FFF !important;
    font-size: 12px !important;
    margin-top: 10px !important;
    border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection{min-height: 40px !important;}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px !important;
    font-size: 14px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: #000 !important;
}

.select2-results__option{font-size: 14px;}
.img-use img,
.img-order-user img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.img-user img{
    width: 35px;
    height: 35px;
}

.form-select.form-control-sm{
    padding: 5px 10px 5px 30px;
    font-size: 12px;
    border: 0;
}

.fs-13px {font-size: 13px;}
.fs-12px {font-size: 12px;}
/* .bg-green {background-color: #58C9B9} */